
.box {
	border-radius: 5px;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.incorrect {
	background-color: pink;
}

.correct {
	background-color: lightgreen;
}


/*.start-section {
	display: normal;
}

.quiz-section {
	display: none;	
}

.feedback-section {
	display: none;
}

.final-section {
	display: none;
}
*/