body {
  	font-family: 'Roboto Condensed', sans-serif;
  	font-size: 16px;
  	background: url("background-bicycle.jpg") no-repeat center center fixed;
	background-size: cover;	
	margin: 0 auto;
}

main {
	padding: 20px 20px;
}

.header {
	background-color: #F3BC30;  
	margin-bottom: 40px;  
	padding: 5px 0;
	width: 100%;
	border-bottom: 1px solid black;
}

.container {
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
}

.box {
	background-color: white;
	border-radius: 3px;
}

.button, button {
	width: 75%;
	margin: 5px;
	/*from an online button generator*/
	  background: #ededed;
	  background-image: -webkit-linear-gradient(top, #ededed, #ffffff);
	  background-image: -moz-linear-gradient(top, #ededed, #ffffff);
	  background-image: -ms-linear-gradient(top, #ededed, #ffffff);
	  background-image: -o-linear-gradient(top, #ededed, #ffffff);
	  background-image: linear-gradient(to bottom, #ededed, #ffffff);
	  -webkit-border-radius: 7;
	  -moz-border-radius: 7;
	  border-radius: 7px;
	  color: #000000;
	  font-size: 18px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
}

.button:hover, button:hover {
	  background: #ededed;
	  background-image: -webkit-linear-gradient(top, #ededed, #ededed);
	  background-image: -moz-linear-gradient(top, #ededed, #ededed);
	  background-image: -ms-linear-gradient(top, #ededed, #ededed);
	  background-image: -o-linear-gradient(top, #ededed, #ededed);
	  background-image: linear-gradient(to bottom, #ededed, #ededed);
	  text-decoration: none;
}

.critique {
	font-style: italic;
	font-size: 1.25em;
	/*text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);*/
}

a {
	text-decoration: none;
}

cite {
	font-size: .8em;
	float: right;
	font-style: italic;
	top: 20px;
	margin: 0 10px 5px 5px;
}

.progress {
	line-height: 1em;
	text-align: right;
}

.answer-recall {
	box-shadow: 2px 2px 3px 1px grey;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	width: 85%;
	margin: 0 auto;
}

.feedback-splash {
	 border-radius: 7px;
	 padding: 8px 5px;
}

.incorrect {
<<<<<<< HEAD
	-webkit-box-shadow: inset 0px 50px 101px 0px rgba(255,0,0,0.25), 0px -1px 7px 1px rgba(255,0,0,0.25);
	-moz-box-shadow: inset 0px 50px 101px 0px rgba(255,0,0,0.25), 0px -1px 7px 1px rgba(255,0,0,0.25);
	box-shadow: inset 0px 50px 101px 0px rgba(255,0,0,0.25), 0px -1px 7px 1px rgba(255,0,0,0.25);
}

.correct {
	-webkit-box-shadow: inset 0px 50px 101px 0px rgba(0,192,42,0.25), 0px -1px 7px 1px rgba(0,192,42,0.25);
	-moz-box-shadow: inset 0px 50px 101px 0px rgba(0,192,42,0.25), 0px -1px 7px 1px rgba(0,192,42,0.25);
	box-shadow: inset 0px 50px 101px 0px rgba(0,192,42,0.25), 0px -1px 7px 1px rgba(0,192,42,0.25);
=======
-webkit-box-shadow: inset 10px 10px 116px -19px rgba(NaN,13,NaN,1);
-moz-box-shadow: inset 10px 10px 116px -19px rgba(NaN,13,NaN,1);
box-shadow: inset 10px 10px 116px -19px rgba(NaN,13,NaN,1);

}

.correct {
-webkit-box-shadow: inset 0px 50px 227px -64px rgba(54,128,5,1);
-moz-box-shadow: inset 0px 50px 227px -64px rgba(54,128,5,1);
box-shadow: inset 0px 50px 227px -64px rgba(54,128,5,1);
}

.feedback-splash {
	 border-radius: 7px;
 
>>>>>>> parent of 10e4aef... added color feedback to answer status
}

.hidden {
	display: none;
}